{% extends "base.html" %}
{% block title %}
    <title>Search | Has it Been Made Yet?</title>
{% endblock %}

{% block body %}
    <h1>Search</h1>
    <!-- emmet: form:post -->
    <!-- This is the parent template because it is more simple. Results is the child template -->
    <form action="/search" method="POST">
        <input type="text" name="user_search" placeholder="Search for your idea" required>
        <button type="submit">Search</button>
    </form>
    <!-- Ignore block if results are empty -->
    {% block results %}{% endblock %}
{% endblock %}
