{% extends "base.html" %}
{% block title %}
  Search | Has it Been Made Yet?
{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
            <h1>Search</h1>
                <!-- emmet: form:post -->
                <!-- This is the parent template because it is more simple. Results is the child template -->
                <form action="/search" method="POST">
                   <div class="row collapse"> <!-- Collapse removes gutter. can query breaks too-->
                        <div class="small-10 columns">
                            <input type="text" name="user_search" placeholder="Search for your idea" required>
                        </div>
                        <div class="small-2 columns">
                            <button class="postfix" type="submit">Search</button> <!-- postfix attach to search -->
                        </div>
                    </div>
                </form>

                <form action="/hartford" method="POST">
                   <div class="row collapse"> <!-- Collapse removes gutter. can query breaks too-->
                        <div class="small-10 columns">
                            <input type="text" name="user_search" placeholder="Search for fire data">
                        </div>
                        <div class="small-2 columns">
                            <button class="postfix" type="submit">Search</button> <!-- postfix attach to search -->
                        </div>
                    </div>
                </form>
                <!-- Ignore block if results are empty -->
                {% block results %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}
